
*.bbl
*.blg
CAV2021/main.pdf
CAV2021/.DS_Store
regex-extended/main.pdf
CAV2021/.DS_Store
*.DS_Store
._popl2018.tex
._parsing-automata-example.pdf
._intro.tex
*.aux
PLDI/._acmart.pdf
*.log
*.gz
Transducer/popl2019/._popl2019.tex
Transducer/._sl-int-v2.tex
Transducer/._related.tex
easychair/._popl2018.pdf
regex-extended/._expose-collection2
regex-extended/._pglushkov_01.pdf
regex-extended/._psst-exmp.pdf
regex-extended/_minted-main/3D1BE3B2DE67B27520079898DF500B17B8F8650A7870186E9844BDD4466224FF.pygtex
regex-extended/expose-collection2/._semver_30
regex-extended/expose-collection2/semver_30/._check-sat-000002.smt2~
regex-extended/expose-collection2/semver_30/check-sat-000002.smt2~
Slides/._lightning.key
Slides/._lightning.pdf
Slides/._popl18-replace.key
Slides/._popl18-replace.pdf
Transducer/rebuttal/.DS_Store
Transducer/popl2019/.DS_Store
CAV2021/.DS_Store
CAV2021/main.fdb_latexmk
POPL2022/main.pdf
*.out
*.synctex(busy)
POPL2022/main.out.pyg
POPL2022/POPL22_CRV/main.pdf
POPL2022/POPL22_CRV/comment.cut
POPL2022/POPL22_CRV/comment.cut
